@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on Hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    /* stops horizontal scroll */
}

@media (max-width: 640px) {  /* Small screens */
    /* .custom-grid { grid-template-columns: repeat(2, minmax(0, 1fr)); padding-left: 2px; padding-right: 2px;} */
}

@media (min-width: 641px) and (max-width: 1023px) { /* Medium screens */
    /* .custom-grid { grid-template-columns: repeat(3, minmax(.0, 1fr)); padding-left: 2px; padding-right: 2px;} */
}

@media (min-width: 868px) and (max-width: 1143px) { /* Large screens */
    /* .custom-grid { grid-template-columns: repeat(4, minmax(0, 1fr)); } */
}

@media (min-width: 1144px) and (max-width: 1279px) { /* Large screens */
    /* .custom-grid { grid-template-columns: repeat(5, minmax(0, 1fr)); } */
}

@media (min-width: 1280px) and (max-width: 1440px){ /* Extra Large screens */
    /* .custom-grid { grid-template-columns: repeat(6, minmax(0, 1fr)); } */
}

@media (min-width: 1440px) { /* Extra Large screens */
    /* .custom-grid { grid-template-columns: repeat(10, minmax(0, 1fr)); padding-left: 1px; padding-right: 1px;} */
}
